
<div id="login-box">
    <div class="leftbox">
      <h1>Generate Access code for Studnets</h1>
      <form action="/code_for_student" method="POST" class="register">
        <br><br>
      <input class="signup" type="text" name="stud_admis_no" placeholder="enter admission no." required/>
      <input class="signup" type="text" name="stud_code" placeholder="enter passkey" required/>
        <input class="submitbutton" type="submit"  name="signup_submit" value="Generate" />
    </form>
  </div>
  


  







  