<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW Chapter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      body{
          background: #43C6AC;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
  </style>
</head>
<body>
    <div style="margin: 50px 100px;">
    
        <form action="/selectchapter_fortest" method="POST">
          <div class="form-group" align="center">
            <h1><strong>CHOOSE SUBJECT </strong></h1>
            <br>
          <div class="form-group">
            <label for="exampleInputEmail1">Subject</label>
            <select name="subject_id">
                <% course.subjects.forEach(function(s){ %>
                
              <option value="<%=s._id%>"><%=s.name%> - <%=s.detail.course%></option>

              <%})%>
              <input type="hidden" name="course_id" value="<%=course._id%>">
            </select>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </div>
          
    </div>
</body>
</html>